/*
# 
------- Citations ---------

# Citation for table_template:
# Date: 05/03/2022
# Based on:
# Source URL:
https://pythonhow.com/python-tutorial/flask/Adding-CSS-styling-to-your-website/

# Citation for bootstrap:
# Date: 05/22/2022
# Based on:
# Source URL: https://www.techwithtim.net/tutorials/flask/adding-bootstrap/
*/


body {
    margin-left: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #3f7ae9;
    height: 60px;
    width: 100%;
    opacity: .9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  justify-content: center;
  }
  
  h1{
    text-align: center;
    display: flex;
 }

  header h1.logo {
    margin: 0;
    font-size: 1.4em;
    color: rgb(6, 11, 1);
    text-transform: uppercase;
    float: center;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 7 auto;
    display: flex;
  }

  #insert {
    width: 500px;
    margin: 2 auto;
    background-color: #f2f2f3;
    border: 5px solid black;
    align-items: left;
  }

  p {
    margin-left: 25px;
  }

  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-left: 25px;
    text-align: center;
    letter-spacing: -2px;
    display: flex;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 25px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(7, 7, 7);
    display: flex;
  }
  .menu {
    float: left;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: rgb(15, 15, 15);
    text-decoration: none;
  }

table { 
    border: 5px solid black;
}
th, td { 
    border: 3px solid rgb(26, 47, 124);
    text-align: center;
    vertical-align: middle;
}

select {
  border: 1px;
  width: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#homepage_table {
  margin-left: auto;
  margin-right: auto;
}

#view_bookcopies_button {
  margin-left: 25px;
}

#view_all_books_button {
  margin-left: 25px;
}

#view_all_checkedbooks_button {
  margin-left: 25px;
}

#view_all_checkouts_button {
  margin-left: 25px;
}
.filter_form {
  margin-left: 25px;
}
.filter_label {
  font-weight: bold;
}


input, select {
  margin: 5px;
}

