/*
# 
------- Citations ---------
# Citation for table_template:
# Date: 05/03/2022
# Based on:
# Source URL:
https://pythonhow.com/python-tutorial/flask/Adding-CSS-styling-to-your-website/

# Citation for bootstrap:
# Date: 05/22/2022
# Based on:
# Source URL: https://www.techwithtim.net/tutorials/flask/adding-bootstrap/

# Citation for footer:
# Date: 06/04/2022
# Based on:
# Source URL: https://www.w3schools.com/howto/howto_css_fixed_footer.asp
*/


body {
    display: flex;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    min-height: 100vh;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #3f7ae9;
    height: 60px;
    width: 100%;
    opacity: .9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1{
    text-align: center;
    display: flex;
 }

  header h1.logo {
    margin: 0;
    font-size: 1.4em;
    color: rgb(6, 11, 1);
    text-transform: uppercase;
    float: center;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 7 auto;
    display: flex;
  }

  .insert {
    margin: 10 auto 20 auto;
    width: 550px;
    padding: 20px 25px;
    background-color: #f2f2f3;
    border: 5px solid black;
    align-items: left;
  }

  #insert_checkedbooks_div {
    width: 880px;
  }


  p {
    margin-left: 25px;
    margin-right: 30px;
  }

  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 2em;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    letter-spacing: -2px;
    display: flex;
  }



  h3 {
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 25px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(7, 7, 7);
    display: flex;
  }

  h4 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-left: 25px;
    text-align: center;
    letter-spacing: -2px;
    color: rgb(249, 249, 249);
    display: flex;
  }

  .menu {
    float: left;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 10px;
  }
  .menu li a {
    color: rgb(15, 15, 15);
    text-decoration: none;
  }

table { 
    border: 5px solid black;
    margin: 10px 10px;
}
th, td { 
    border: 3px solid rgb(26, 47, 124);
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

select {
  border: 1px;
  width: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#homepage_table {
  margin: 20px auto;
  padding: 5px;
}

#homepage_table .homepage_cell {
  padding: 8px;
}

#view_bookcopies_button {
  display:flex;
  margin-left: 25px;
}

#view_all_books_button {
  margin-left: 25px;
}

#view_all_checkedbooks_button {
  margin-left: 25px;
}

#view_all_checkouts_button {
  margin-left: 25px;
}
.filter_form {
  margin-left: 25px;
}
.filter_label {
  font-weight: bold;
}


input, select {
  margin: 6px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f7ae9;
  color: white;
  text-align: center;
}
