<html>
<head>
    <title>Penguin Library System Checked Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header>
        <div class ="container">
            <nav>
                <ul class = "menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="authors.html">Authors</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="bookcopies.html">Bookcopies</a></li>
                <li><a href="patrons.html">Patrons</a></li>
                <li><a href="checkouts.html">Checkouts</a></li>
                <li><a href="checkedbooks.html">Checkedbooks</a></li>
                <li><a href="publishers.html">Publishers</a></li>
                <li><a href="locations.html">Locations</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Checked Books Database</h1>
    <p>This a database of checked books for Penguin Library System</p>

    <table>
    <thead>
    <tr>
        <th>Book Title</th>
        <th>Patron Name</th>
        <th>Checkout Date</th>
        <th>Return Date</th>
        <th>Returned</th>
    </tr>
    <tbody>
    {% for item in checkedbooks %}
    <tr>
        <td>{{item['Book_Title']}}</td>
        <td>{{item['Patron_Name']}}</td>
        <td>{{item['Checkout_Date']}}</td>
        <td>{{item['Return_Date']}}</td>
        <td>{{item['Returned']}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>