<br>
<div id="show-checked-out">
  <a href="/bookcopies/checked-out" onClick="show_checked_out()">Only Display Books Currently Checked Out</a>
</div>
<div id="show-on-shelf">
  <a href="/bookcopies/on-shelf" onClick="show_on_shelf()">Only Display Books Currently on the Shelf</a>
<div id="show-all">
  <a href="/bookcopies.html" onClick="bookcopies_page()">Display All Book Copies</a>
</div>