{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h2>CS 340: Group Project - Penguin Library System </h2>
    <p>This is the main page of the Penguin Library System Database. Please use the above bar to navigate to the different data tables within the database.</p>

    <table>
    <thead>
    <tr>
        <th>Database Entity</th>
        <th>Contents</th>
    </tr>
    <tbody>
    <tr>
        <td>Authors</td>
        <td>Name</td>
    </tr>
        <tr>
        <td>Books</td>
        <td>ISBN, Title, Year, Author, Publisher</td>
    </tr>
        <tr>
        <td>Bookcopies</td>
        <td>Title, Author, Location</td>
    </tr>
        <tr>
        <td>Patrons</td>
        <td>Name, Email</td>
    </tr>
        <tr>
        <td>Checkouts</td>
        <td>Patron Name, Checkout Date, Return Date</td>
    </tr>
        <tr>
        <td>Checkedbooks</td>
        <td>Book Title, Patron Name, Checkout Date, Return Date, Returned</td>
    </tr>
        <tr>
        <td>Publishers</td>
        <td>Name</td>
    </tr>
        <tr>
        <td>Locations</td>
        <td>Name, Address</td>
    </tr>
    </table>
</body>
{% endblock %}