{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h2>CS 340: Group Project - Penguin Library System </h2>
    <p>This is the main page of the Penguin Library System Database. Please use the above bar to navigate to the different data tables within the database.</p>

    <table id="homepage_table" >
    <thead>
    <tr>
        <th class="homepage_cell">Database Entity</th>
        <th class="homepage_cell">Attributes</th>
    </tr>
    <tbody>
    <tr>
        <td class="homepage_cell">Locations</td>
        <td class="homepage_cell">Name, Address</td>
    </tr>
    <tr>
        <td class="homepage_cell">Authors</td>
        <td class="homepage_cell">Name</td>
    </tr>
    <tr>
        <td class="homepage_cell">Publishers</td>
        <td class="homepage_cell">Name</td>
    </tr>
    <tr>
        <td class="homepage_cell">Books</td>
        <td class="homepage_cell">ISBN, Title, Year, Author, Publisher</td>
    </tr>
    <tr>
        <td class="homepage_cell">Bookcopies (Access through Books page)</td>
        <td class="homepage_cell">Title, Author, Location</td>
    </tr>
    <tr>
        <td class="homepage_cell">Patrons</td>
        <td class="homepage_cell">Name, Email</td>
    </tr>
    <tr>
        <td class="homepage_cell">Checkouts</td>
        <td class="homepage_cell">Patron Name, Checkout Date, Return Date</td>
    </tr>
        <tr>
        <td class="homepage_cell">CheckedBooks (Access through Checkouts page)</td>
        <td class="homepage_cell">Book Title, Patron Name, Checkout Date, Return Date, Returned</td>
    </tr>
    </table>
</body>
{% include "footer.j2"%}
{% endblock %}