<br>
<p>
Please select the book copy you would like to add to this checkout. 
</p>
<br>
<div id="insert">
    <form method="POST" id= "insert {{ title }}">
        <legend><strong>Add Book Copy to {{ title }} </strong></legend>
          <fieldset class="fields">
          {{ add_checkedbook_form.hidden_tag() }}
          {{ add_checkedbook_form.bookcopy_dropdown.label }}
          {{ add_checkedbook_form.bookcopy_dropdown() }}
          <br>
          {{ add_checkedbook_form.returned_checkbox.label }}
          {{ add_checkedbook_form.returned_checkbox() }}
          <br>
          {{ add_checkedbook_form.submit(class="btn btn-primary") }}
      </fieldset>
          <input class="btn btn-secondary" type="reset" value="Clear" onClick="">
	</form> 
</div>