<br>
<p>
Please select the book copy you would like to add to this checkout. 
</p>
<br>
<div id="insert">
    <form method="POST" id= "insert {{ title }}">
        <legend><strong>Add Book to {{ title }} </strong></legend>
          <fieldset class="fields">
                <label for='Copy ID'>Book Copy ID</label>
                <input type="text" id="Copy ID" name="Copy ID"></input>
                <label for='Returned'> Returned? </label>
                  <select id = 'Returned' name= 'Returned' required>
                    <option value='' selected disabled>Select</option>
                    <option value='1'>Yes</option>
                    <option value='0'>No</option>
                  </select>
                  <br><br>           
      </fieldset>
      </fieldset>
          <input class="btn btn-primary" type="submit" id="add {{ title }}" value="Add">
          <input class="btn btn-secondary" type="reset" value="Clear" onClick="">
	</form> 
</div>