 <!--Citation for HTML dropdown menu:
Date: 05/17/2022
Based on: Free Code Camp HTML Select Tag tutorial
Source URL: https://www.freecodecamp.org/news/html-select-tag-how-to-make-a-dropdown-menu-or-combo-list/  -->

<br>
<div id="insert">
    <form method="POST" id= "insert {{ title }}>
          <fieldset class="fields">
          <legend><strong> Add {{ title }} </strong></legend>
            <label for="patron_choice" >Patron Name</label> 
            <select id="patron_choice" name="patron_choice" required>
                <option value="" selected disabled>Name</option>
                {% for name in name_dropdown %}
                  <option value="{{ name[0] }}">{{ name[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Checkout Date</label>
            <input type="date" name="checkout_date_input" required>
            <br>
            <label>Return Date</label>
            <input type="date" name="return_date_input" required>
          </fieldset>
          <br>
          <input class="btn btn-primary" type="submit" id="add {{ title }}" value="Add {{ title }}">
          <input class="btn btn-secondary" type="reset" value="Clear" onClick="">
	</form> 
</div>