<div id="insert">
    <form method="POST" id="insert">
        <legend><strong>Add Book Copy</strong></legend>
          <fieldset class="fields">
            <label>ISBN</label> 
            <input type="text" name="isbn_entry">
            <label for="Location">Location</location>
            <select type="Location" id="Location" required>
              <option value="" selected disabled>Location Name</option>
            {% for name in locations_dropdown %}
              <option value="{{ name[0] }}">{{ name[1] }}</option>
              {% endfor %}
            </select>
      </fieldset>
          <input class="btn" type="submit" id="add {{ title }}" value="Add {{ title }}">
          <input class="btn" type="button" value="Cancel" onClick="">
	</form> 
</div>