<div >
    <form method="POST" id="insert">
        <legend><strong>Add Book Copy</strong></legend>
        {{ add_copy_form.hidden_tag() }}
        {{ add_copy_form.location_dropdown.label }}
        {{ add_copy_form.location_dropdown() }}
        <br>
        {{ add_copy_form.submit(class="btn btn-primary") }}
          <input class="btn btn-secondary" type="reset" value="Cancel">
	</form> 
</div>