<br>
<div id="insert">
    <form method="POST" id="insert">
        <legend><strong>Add Book Copy</strong></legend>
          <fieldset class="fields">
            <label>ISBN</label> 
            <input type="text" name="isbn_entry">
            <label>Location</location>
            <select type="location" id="location">
              <option value="location3" selected>Emperor Penguin Library</option>
              <option value="location1">Little Penguin Library</option>
              <option value="location2">Macaroni Penguin Library</option>
              <option value="location4">Rockhopper Penguin Library</option>
              <option value="location5">Royal Penguin Library</option>
            </select>
      </fieldset>
          <input class="btn" type="button" id="add value" value="Add Book Copy">
          <input class="btn" type="button" value="Cancel" onClick="">
	</form> 
</div>