<br>
<div id="insert">
    <form method="POST" id="insert">
        <legend><strong>Add {{ title }} </strong></legend>
          <fieldset class="fields">
            <label>Patron First Name</label> 
            <input type="text" name="patron_first_input">
            <label>Patron Last Name</label> 
            <input type="text" name="patron_last_input">
            <label>Checkout Date</label>
            <input type="date" name="checkout_date_input">
            <label>Return Date</label>
            <input type="date" name="return_date_input">
        </fieldset>
          <input class="btn" type="button" id="add value" value="Add {{ title }}">
          <input class="btn" type="button" value="Cancel" onClick="">
	</form> 
</div>