<html>
<head>
    <title>OSU - CS 340 - Group 2 Project Demo</title>
</head>
<body>
    <h1>CS 340: Group Project - Penguin Libraries </h1>
    <p>This is the main page of the Penguin Library Database</p>
</body>
</html>