<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OSU - CS 340 - Group 2 Project Demo</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        <header>
            <div class ="container" >
                <nav>
                    <ul class = "menu">
                    <li><a href="../" class="btn btn-light">Home</a></li>
                    <li><a href="../authors.html" class="btn btn-light">Authors</a></li>
                    <li><a href="../books.html" class="btn btn-light">Books</a></li>
                    <li><a href="../patrons.html" class="btn btn-light">Patrons</a></li>
                    <li><a href="../checkouts.html" class="btn btn-light">Checkouts</a></li>
                    <li><a href="../publishers.html" class="btn btn-light">Publishers</a></li>
                    <li><a href="../locations.html" class="btn btn-light">Locations</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>