<html>
<head>
    <title>Penguin Library System Patrons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header>
        <div class ="container">
            <nav>
                <ul class = "menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="authors.html">Authors</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="bookcopies.html">Bookcopies</a></li>
                <li><a href="patrons.html">Patrons</a></li>
                <li><a href="checkouts.html">Checkouts</a></li>
                <li><a href="checkedbooks.html">Checkedbooks</a></li>
                <li><a href="publishers.html">Publishers</a></li>
                <li><a href="locations.html">Locations</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Patrons Database</h1>
    <p>This is a database of patrons of Penguin Library System</p>

    <table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tbody>
    {% for item in patrons %}
    <tr>
        <td>{{item['First_Name']}}</td>
        <td>{{item['Last_Name']}}</td>
        <td>{{item['Email']}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>