
{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h2>{{ title }} Data</h2>
<p>{{ description }}</p>
{% if title == "Checkouts" %}
<br>
<p>To see all checked books please click "View All": </p>
<a href="/checkedbooks.html" class='btn btn-primary'>View All</a>
</br>          
{% elif title == "Books" %}
<br>
<p>To see all book copies please click "View All": </p>
<a href="/bookcopies.html" class='btn btn-primary'>View All</a>
</br>  
{% else %}

{% endif %}

<table class ="center">
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
            {% if title == "Checkouts" %}
                <th>Update Checked Books</th>
                <th>Edit Checkout</th>
                <th>Delete</th>   
            {% elif title == "Books" %}
                <th>Update Book Copies</th>
                <th>Edit Book</th>
                <th>Delete</th>
            {% elif title == "Checked Books" %}   
            {% else %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if title == "Checkouts" %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                        <td>{{ cell }}</td>
                {% endfor %}
                <td><a href="/checkedbooks/{{row[0]}}" onClick="go_to_checkedbooks({{ cell }})" class="btn btn-secondary">Update</a></td>
                <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()" class="btn btn-info">Edit</a></td>
                <td><a href="/delete_{{routeURL}}/{{row[0]}}" class="btn btn-danger">Delete</a></td> 
                </tr>
            {% endfor %}
        {% elif title == "Books" %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                        <td>{{ cell }}</td>
                {% endfor %}
                <td><a href="/bookcopies/{{row[0]}}" onClick="go_to_bookcopies({{ cell }})" class="btn btn-secondary">Update</a></td>
                <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()" class="btn btn-info">Edit</a></td>
                <td><a href="/delete_{{routeURL}}/{{row[0]}}" class="btn btn-danger">Delete</a></td> 
                </tr>
            {% endfor %}
        {% else %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                {% if title != "Checked Books" %}
                    <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()" class="btn btn-info">Edit</a></td>
                    <td><a href="/delete_{{routeURL}}/{{row[0]}}" class = "btn btn-danger">Delete</a></td> 
                {% endif %}
                </tr> 
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% if title == "Checkouts" %}
    {% include "insert_checkout_template.j2" %}
{% elif title == "Checkout #{{ checkout_id }}" %}
    {% include "insert_checkedbooks_template.j2"%}
{% elif title == "Books" %}
    {% include "insert_books_template.j2" %}
{% elif title == "Book Copies" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Books on the Shelf" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Checked Out Books" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Checked Books" %}
{% else %}
    {% include "insert_template.j2" %}
{% endif %}
{% endblock %}