{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h1>{{ title }} Data</h1>
<p>{{ description }}</p>
<table>
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
            {% if title != "Checked Books" %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if title == "Checkouts" %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    {% if cell == row[0]%}
                        <td><a href="/checkedbooks/{{ cell }}" onClick="go_to_checkedbooks({{ cell }})">{{ cell }}</a></td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()">Edit</a></td>
                <td><a href="/delete_{{routeURL}}/{{row[0]}}" class="btn btn-default">Delete</a></td> 
                </tr>
            {% endfor %}
        {% else %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                {% if title != "Checked Books" %}
                    <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()">Edit</a></td>
                    <td><a href="/delete_{{routeURL}}/{{row[0]}}" class = "btn btn-default">Delete</a></td> 
                {% endif %}
                </tr> 
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% if title == "Checkouts" %}
    {% include "insert_checkout_template.j2" %}
{% elif title == "Checkout #{{ checkout_id }}" %}
    {% include "insert_checkedbooks_template.j2"%}
{% elif title == "Books" %}
    {% include "insert_books_template.j2" %}
{% elif title == "Book Copies" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Books on the Shelf" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Checked Out Books" %}
    {% include "bookcopies_filter_template.j2" %}
    {% include "insert_bookcopies_template.j2" %}
{% elif title == "Checked Books" %}
{% else %}
    {% include "insert_template.j2" %}
{% endif %}
{% endblock %}