
{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h2>{{ title }} Data</h2>
<p>{{ description }}</p>
<br>
<p>To see all book copies please click "View All": </p>
<a href="/bookcopies.html" class='btn btn-primary'>View All</a>
</br>
</br> 

{# if someone has chosen an author to filter by, render the /books/author page#}
{% if selected_author %}
    <form action="/books/author" method="POST">
        {{ author_form.hidden_tag() }}
        {{ author_form.author_dropdown.label }}
        {{ author_form.author_dropdown() }}
        {{ author_form.submit() }}
    </form>
    <table class ="center">
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
                <th>See Book Copies</th>
                <th>Edit Book Information</th>
                <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
            {% for cell in row %}
                    <td>{{ cell }}</td>
            {% endfor %}
            <td><a href="/bookcopies/{{row[0]}}" onClick="go_to_bookcopies({{ cell }})" class="btn btn-secondary">View</a></td>
            <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()" class="btn btn-info">Edit</a></td>
            <td><a href="/delete_{{routeURL}}/{{row[0]}}" class="btn btn-danger">Delete</a></td> 
            </tr>
        {% endfor %}
    </tbody>
    </table>
{# otherwise: render original page #}
{% else %}
    <form action="/books/author" method="POST">
        {{ author_form.hidden_tag() }}
        {{ author_form.author_dropdown.label }}
        {{ author_form.author_dropdown() }}
        {{ author_form.submit() }}
    </form>
    <table class ="center">
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
                <th>See Book Copies</th>
                <th>Edit Book Information</th>
                <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
            {% for cell in row %}
                    <td>{{ cell }}</td>
            {% endfor %}
            <td><a href="/bookcopies/{{row[0]}}" onClick="go_to_bookcopies({{ cell }})" class="btn btn-secondary">View</a></td>
            <td><a href= /update_{{routeURL}}/{{row[0]}} onClick="update()" class="btn btn-info">Edit</a></td>
            <td><a href="/delete_{{routeURL}}/{{row[0]}}" class="btn btn-danger">Delete</a></td> 
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{# Only allow Add Books form if we are on the main Books Page#}
{% if title == "Books" %}
{% include "insert_books_template.j2" %}
{% else %}
    <input class="btn btn-primary" type="button" value="View All Books" onClick="location.href='/books.html'">
{% endif %}
{% endblock %}