{% extends "base_template.html" %}
{{ super() }}
{% block content %}
<h1>{{ title }} Data</h1>
<p>These are the {{ title }} in the Penguin Library System. {{ description }}</p>
<table>
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}