{% extends "base_template.j2" %}
{{ super() }}
{% block content %}
<h1>{{ title }} Data</h1>
<p>These are the {{ title }} in the Penguin Library System. {{ description }}</p>
<table>
    <thead>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% if title == "Checkouts" %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    {% if cell == row[0]%}
                        <td><a href="/checkedbooks.html" onClick="go_to_checkedbook()">{{ cell }}</a></td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="#" onClick="update()">Edit</a></td>
                <td><a href="#" onclick="delete()">Delete</a></td> 
                </tr>
            {% endfor %}
        {% else %}
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                <td><a href="#" onClick="update()">Edit</a></td>
                <td><a href="#" onclick="delete()">Delete</a></td> 
                </tr> 
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% if title == "Checkouts" %}
    {% include "insert_checkout_template.j2" %}
{% elif title == "Book Copies" %}
    {% include "insert_bookcopies_template.j2" %}
{%else %}
    {% include "insert_template.j2" %}
{% endif %}
{% endblock %}