{% extends "nav_template.j2" %}
{{ super() }}
{% block content %}
<h2>Edit {{ title }} Data</h2>
<p>{{ description }}{{data[0][0]}}</p>


<br>
<div class="insert">
    <form method="POST" id= "update {{ title }}" autocomplete="off">
        <legend><strong>Update {{ title }} </strong></legend>
          <fieldset class="fields">
            {% for index in range(headings| length()) %}
              {% if headings[index] != "ID" %}
                <label for='{{headings[index]}}'> {{headings[index]}} </label>
                {% if headings[index] == "Email" %}
                  <input type="email" id= '{{headings[index]}}' name= '{{headings[index]}}' value ='{{data[0][index]}}' required><br><br> 
                {% else %}                  
                  <input type="text" id = '{{headings[index]}}' name= '{{headings[index]}}' value ='{{data[0][index]}}' required><br><br>
                {% endif %}
              {% endif %} 
            {% endfor %} 
            
      </fieldset>
          <input class="btn btn-primary" type="submit" id="Update {{ title }}" value="Update {{ title }}">
          <input class="btn btn-secondary" type="button" value="Cancel" onClick="location.href='../{{ routeURL }}.html'">
	</form>
</div>

{% endblock %}